
html{
    background-image: url(backgroung.jpg);
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.icon{
    color:rgb(254, 254, 254);
    padding-bottom: 10px;
}
.social{
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0%);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data{
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0%);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}